@import '../../utils/variables/colors.scss';

.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.list-header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: $primary-color;
    padding: 0 2% 0 2%;
    border-radius: 5px;
    justify-content: space-between;
    z-index: 1;
    color: white;
    & .icon {
        transition: transform 0.25s ease-in-out;
    }
    & .open {
        transform: rotate(180deg);
    }
    & .open:hover,
    .close:hover {
        cursor: pointer;
    }
}

.text-list {
    width: 100%;
    background-color: white;
    overflow: hidden;
    border-radius: 5px;
    z-index: 0;
    color: $primary-color;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition:
        max-height 0.4s ease-in-out,
        background-color 0.4s ease-in-out,
        opacity 0.4s linear;
    &.show {
        max-height: 500px;
        opacity: 1;
        background-color: $tertiary-background-color;
    }
    ul {
        padding-inline-start: 0px;
        list-style-type: none;
    }
}
