.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    padding: 0 2% 0 2%;
    overflow: hidden;
}

.list-header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ff6060;
    padding: 0 2% 0 2%;
    border-radius: 5px;
    justify-content: space-between;
    z-index: 1;
    color: white;
    & .open {
        border: 2px solid blue;
    }
    & .close {
        border: 2px solid red;
    }
}

.text-list {
    font-family: montserrat;
    display: none;
    width: 100%;
    background-color: #f6f6f6;
    padding: 1% 2% 1% 2%;
    border-radius: 5px;
    z-index: 0;
    color: #ff6060;
    font-size: 18px;
    font-weight: 400;
    &.show {
        display: block;
    }
    &.hide {
        display: none;
    }
}
