@font-face {
    font-family: 'Montserrat';
    src:
        local('Montserrat'),
        url('./utils/fonts/Montserrat/Montserrat-Regular.ttf')
            format('truetype');
    font-weight: regular;
}

#root {
    width: 100%;
    margin: 0;
    display: block;
}

* {
    box-sizing: border-box;
    font-family: Montserrat;
    font-weight: 500;
}
body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    min-width: 320px;
    max-width: 1440px;
    min-height: 100vh;
}
