.navContainer {
    padding: 50px 100px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link {
    padding: 30px;
    &.active {
        color: red;
    }
    &.inactive {
        color: blue;
    }
}
