.about-house {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.main-infos {
    display: grid;
    grid-template-areas:
        'a a a b b'
        'c c c d d';
    width: 100%;
    & > .house-infos {
        grid-area: a;
    }
    & > .house-tags {
        grid-area: c;
    }
    & > .house-rating {
        grid-area: d;
    }
    & > .owner-infos {
        grid-area: b;
    }
}
.owner-infos {
    display: flex;
    align-items: center;
    & .profile-pic {
        width: 64px;
        height: 64px;
        border-radius: 32px;
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        object-fit: scale-down;
        & > img {
            width: 100%;
        }
    }
}

.more-infos {
    display: flex;
}
