.about-house {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.main-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.more-infos {
    display: flex;
}
.owner-info {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
