.tag-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.tag {
    display: inline;
    height: 25px;
    text-align: center;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #ff6060;
    color: white;
}
