@import '../../utils/variables/colors.scss';
@import '../../utils/variables/mixins.scss';

.banner {
    box-sizing: border-box;
    overflow: hidden;
    object-fit: cover;
    height: 223px;
    width: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    @include breakpoint-max($small) {
        height: 111px;
        border-radius: 10px;
    }
    @include breakpoint-min-max($small, $medium) {
        height: 166px;
        border-radius: 20px;
    }

    img {
        object-fit: fill;
        filter: brightness(75%);
    }

    h1 {
        font-size: 3rem;
        position: absolute;
        align-self: center;
        padding: 20px;
        color: white;
        @include breakpoint-max($small) {
            font-size: 1.5rem;
        }
        @include breakpoint-min-max($small, $medium) {
            font-size: 2.5rem;
        }

        br {
            display: none;
            @include breakpoint-max($medium) {
                display: block;
            }
        }
    }
}
