@import '../../utils/variables/colors.scss';

.banner {
    box-sizing: border-box;
    overflow: hidden;
    object-fit: cover;
    height: 223px;
    width: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    img {
        object-fit: fill;
        opacity: 1;
    }

    h1 {
        font-size: 3rem;
        position: absolute;
        align-self: center;
        color: white;
    }
}
