@import '../../utils/variables/mixins.scss';

.rating {
    display: flex;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    object-fit: scale-down;
    & > img {
        height: 100%;
    }

    @include breakpoint-max($small) {
        & > li {
            & > img {
                height: 80%;
                width: 80%;
            }
        }
    }
}
