@import '../../../utils/variables/colors.scss';

.navContainer {
    padding: 50px 100px 0px 100px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link {
    padding-left: 30px;
    font-size: 1.5rem;
    color: $primary-color;
    &:hover {
        text-shadow: 1px 1px 2px $primary-color;
    }
    &.active {
        text-decoration: underline;
    }
    &.inactive {
        text-decoration: none;
    }
}
